
main {
    background-color: rgb(153, 153, 153);
}

h1 {
    background-color: rgb(4, 163, 226);
    text-align: center;
}

form {
    background-color: rgb(153, 153, 153);
}

.searchArea {
    background-color: rgb(153, 153, 153);
}

BUTTON {
    background-color: rgb(0, 0, 0);
    color: darkorange;
    font-size: 30px;
    margin: 5px;
}

BUTTON:hover {
    box-shadow: 10px 10px 10px whitesmoke;
}

#clearStorage {
    font-size: 15px;
    color: red;
}

.dayDate {
    background-color: rgb(121, 0, 151);
    color: rgb(255, 255, 255);
}

.nextFiveDays h2 {
    background-color: rgb(255, 252, 71);
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    border-style: solid;
}

.theWeather {
    margin: 20px;
    text-align: center;
}

.currentDay {
    background-color: forestgreen;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    border-style: solid;
}

#currentDay {
    font-size: 20px;
    align-items: center;
}

#location {
    background-color: darkorange;
    font-size: 35px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    border-style: solid;
}

#day1 {
    align-items: center;
}