
main {
    background-color: rgb(153, 153, 153);
}

h1 {
    background-color: rgb(0, 194, 129);
    text-align: center;
}

.dayDate {
    background-color: rgb(194, 129, 255);
}

.nextFiveDays h2 {
    background-color: rgb(255, 252, 71);
}

.theWeather {
    margin: 20px;
}

.currentDay {
    background-color: forestgreen;
    
}

#location {
    background-color: darkorange;
}

.nextFive {
    background-color: darkcyan;
}