
main {
    background-color: rgb(153, 153, 153);
}

h1 {
    background-color: rgb(4, 163, 226);
    text-align: center;
}

form {
    background-color: rgb(153, 153, 153);
}

.searchArea {
    background-color: rgb(153, 153, 153);
}

BUTTON {
    background-color: rgb(0, 0, 0);
    color: crimson;
    font-size: 30px;
    margin: 5px;
    
}

#location {
    font-size: 35px;
}

.dayDate {
    background-color: rgb(194, 129, 255);
}

.nextFiveDays h2 {
    background-color: rgb(255, 252, 71);
}

.theWeather {
    margin: 20px;
}

.currentDay {
    background-color: forestgreen;
    
}

#location {
    background-color: darkorange;
}

.nextFive {
    background-color: darkcyan;
}